:host {
  display: flex;
  flex-direction: column;
}

.settings-account {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.settings-account__data {
  display: flex;
  flex-direction: column;
  min-width: 0;
}